<%- include("partials/gg"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">ClimateWise Tool</label>
    <ul>
      <li><a href="/">Home</a></li>
    <li class="nav-item dropdown">
      <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Carbon Footprint Calculator
      </a>
      <ul style="line-height:0cm ;" class="dropdown-menu">
        <li><a class="dropdown-item" href="/footprint">Footprint</a></li>
        <li><a class="dropdown-item" href="/footprint/paper">Paper</a></li>
        <li><a class="dropdown-item" href="/footprint/clean">Clean Energy</a></li>
        <li><a class="dropdown-item" href="/footprint/fuel">Fossil Fuel</a></li>
        <li><a class="dropdown-item" href="/footprint/car">Car</a></li>
        <li><a class="dropdown-item" href="/footprint/flight">Flight</a></li>
        <li><a class="dropdown-item" href="/footprint/bike">Bike</a></li>
        <li><a class="dropdown-item" href="/footprint/transit">Transit</a></li>
      </ul>
    </li>
    <li><a href="https://climatewise-visualize.onrender.com" target="_blank">Visualize Climate Data</a></li>
    <li><a href="https://climatewise-compare.onrender.com" target="_blank">Compare Countries Progress</a></li>
    <li><a href="https://climatewise.org.in" target="_blank">Main Website</a></li>
    <li><a href="https://arshroopsaini.in" target="_blank">Founder</a></li>

  </nav>

  <br><br> <br><br>



<div id="container" style="width:100%; height:400px;"></div>

<% var time=time %>
<%var temperatue_mean= temperature_mean; %>
<%var temperatue_min= temperature_min; %>
<%var temperatue_max= temperature_max; %>
<script>

document.addEventListener('DOMContentLoaded', function () {
var time="<%=time %>"
var temperatue_mean= "<%temperature_mean %>"
var temperatue_min= "<%temperature_min %>"
var temperatue_max= "<%=temperature_max %>"
    const chart = Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Climate Change'
        },
        xAxis: {
            title:{
                text:'Time'
            },
            categories: time
        },
        yAxis: {
            title: {
                text: 'Temperature'
            }
        },
        series: [{
            name: 'Mean Temperature',
            data: temperature_mean
        }, {
            name: 'Min Temperature',
            data: temperature_min
        }
        , {
            name: 'Max Temperature',
            data: temperatue_max
        }]
    });
});
</script>
<script type="text/javascript" src="/js/themes/gray.js"></script>

<%- include("partials/footer"); -%>
