<%- include("partials/gg"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">ClimateAPP</label>
    <ul>
      <li><a href="/">Home</a></li>
  </nav>
  

<%- include("partials/footer"); -%>