<%- include("partials/gg"); -%>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">ClimateAPP</label>
    <ul>
      <li><a href="/">Home</a></li>

  </nav>

<br><br><br><br>
<div class="container">
    <center><h1 class="animate-charcter" style="
        font-weight: 700; font-size:
        55px; text-align: center;
        line-height: 1.2;">Organizations working for climate cause</h1></center><br>
<div class="card text-bg-light">
    <img src="https://res.cloudinary.com/dbhinftk0/image/upload/v1688329550/climate_cardinals_hjd9de.png" class="banner card-img" max-width="100%" height="auto" alt="This is an image">
    <div class="middle">
    <div class="text">Explore</div>
</div>
  </div>
</div>
<%- include("partials/footer"); -%>
