<%- include("partials/gg"); -%>

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">ClimateWise Tool</label>
    <ul>
      <li><a href="/">Home</a></li>
    <li class="nav-item dropdown">
      <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Carbon Footprint Calculator
      </a>
      <ul style="line-height:0cm ;" class="dropdown-menu">
        <li><a class="dropdown-item" href="/footprint">Footprint</a></li>
        <li><a class="dropdown-item" href="/footprint/paper">Paper</a></li>
        <li><a class="dropdown-item" href="/footprint/clean">Clean Energy</a></li>
        <li><a class="dropdown-item" href="/footprint/fuel">Fossil Fuel</a></li>
        <li><a class="dropdown-item" href="/footprint/car">Car</a></li>
        <li><a class="dropdown-item" href="/footprint/flight">Flight</a></li>
        <li><a class="dropdown-item" href="/footprint/bike">Bike</a></li>
        <li><a class="dropdown-item" href="/footprint/transit">Transit</a></li>
      </ul>
    </li>
    <li><a href="https://climatewise-visualize.onrender.com" target="_blank">Visualize Climate Data</a></li>
    <li><a href="https://climatewise-compare.onrender.com" target="_blank">Compare Countries Progress</a></li>
    <li><a href="https://climatewise.org.in" target="_blank">Main Website</a></li>
    <li><a href="https://arshroopsaini.in" target="_blank">Founder</a></li>

  </nav>

  <br><br>
<br>
<div class="container">

    <center><h1 class="animate-charcter" style="
        font-weight: 700; font-size:
        55px; text-align: center;
        line-height: 1.2;">Carbon Calculator</h1>
<br><br><br>
  <center>
    <p>
<!-- Second Form -->
<form aaction="/footprint/paper" method="GET" class="form-inline">
    <div class="form-group">
      <label for="weight-select">The weight of the paper: </label>
      <input type="text" style="width: 400px; height: 35px" name="weight" id="weight-select" class="">
      <br>
      <!-- <label for="unit-select">The unit (kg or lb) used for the weight: </label>
      <input type="text" style="width: 400px; height: 35px" name="unit" id="unit-select" class=""> -->
      <select style="width: 400px; height: 35px" name="unit" id="unit-select" class="custom-select breed form-control">
        <option selected hidden disabled >Select a Unit
        </option>
        <option value="kg">kg</option>
        <option value="lb">lb</option>
      <br>
      <input type="submit" inputmode="search" spellcheck="true"  autocomplete="on" value="Search" class="btn btn-primary">
    </div>
  </form>
</p>
</center>
<div class="jumbotron">
  <% if(numberOfTrees) { %>
  <p><%=numberOfTrees%></p>
  <% } else { %>
    <p></p>
    <% } %> 
  <br>
</div>

</div>

</div>
</div>
<%- include("partials/footer"); -%>
