<%- include("partials/gg"); -%>

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo animate-charcter-head">ClimateWise Tool</label>
    <ul>
      <li><a href="/">Home</a></li>
    <li class="nav-item dropdown">
      <a style="color: white; font-size:16px" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Carbon Footprint Calculator
      </a>
      <ul style="line-height:0cm ;" class="dropdown-menu">
        <li><a class="dropdown-item" href="/footprint">Footprint</a></li>
        <li><a class="dropdown-item" href="/footprint/paper">Paper</a></li>
        <li><a class="dropdown-item" href="/footprint/clean">Clean Energy</a></li>
        <li><a class="dropdown-item" href="/footprint/fuel">Fossil Fuel</a></li>
        <li><a class="dropdown-item" href="/footprint/car">Car</a></li>
        <li><a class="dropdown-item" href="/footprint/flight">Flight</a></li>
        <li><a class="dropdown-item" href="/footprint/bike">Bike</a></li>
        <li><a class="dropdown-item" href="/footprint/transit">Transit</a></li>
      </ul>
    </li>
    <li><a href="https://climatewise-visualize.onrender.com" target="_blank">Visualize Climate Data</a></li>
    <li><a href="https://climatewise-compare.onrender.com" target="_blank">Compare Countries Progress</a></li>
    <li><a href="https://climatewise.org.in" target="_blank">Main Website</a></li>
    <li><a href="https://arshroopsaini.in" target="_blank">Founder</a></li>

  </nav>

  <br><br>
<br>
<div class="container">

    <center><h1 class="animate-charcter" style="
        font-weight: 700; font-size:
        55px; text-align: center;
        line-height: 1.2;">Carbon Calculator</h1>
<br><br><br>
  <center>
    <p>
      <!-- First Form -->
      <form action="/footprint/transit" method="GET" class="form-inline">
        <div class="form-group">
            <label for="distance-select">The distance in KM: </label>
            <input type="text" style="width: 400px; height: 35px" name="distance" id="distance-select" class="">
            <br> 
            <label for="type-select">The type of flight: </label>
            <select style="width: 400px; height: 35px" name="type" id="type-select" class="">
              <option selected hidden disabled >Select a Vehicle
              </option>
              <option value="Taxi">Taxi</option>
              <option value="ClassicBus">ClassicBus</option>
              <option value="EcoBus">EcoBus</option>
              <option value="Coach">Coach</option>
              <option value="NationalTrain">NationalTrain</option>
              <option value="LightRail">LightRail</option>
              <option value="Subway">Subway</option>
              <option value="FerryOnFoot">FerryOnFoot</option>
              <option value="FerryInCar">FerryInCar</option>
            </select>
            <br>
          <!-- <input type="text" style="width: 400px; height: 35px" name="energy" id="energy-select" class=""> -->
          <input type="submit" inputmode="search" spellcheck="true"  autocomplete="on" value="Calculate" class="btn btn-primary">
        </div>
      </form>
    </p>
  </center>
  <div class="jumbotron">
    <% if(carbonEquivalent) { %>
    <p><%=carbonEquivalent%></p>
    <% } else { %>
      <p></p>
      <% } %>
    <br>
  </div>
 
  
  </div>

</div>
</div>
<%- include("partials/footer"); -%>
